/*=============================================
=            Gif Puzzle Game Styles           =
=============================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* Variables */

:root {
  --textColor: #151515;
  --bg1: #c5ccc1;
  --bg-btn: #efefef;
  --font: 'Heebo',
    sans-serif;
}

body {
  background: #c5ccc1;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'Heebo',
    sans-serif;
  font-weight: 900;
  color: var(--textColor);
  padding: 1em;
  letter-spacing: 0.5px;
  margin-top: 3em;

}

canvas {

  display: block;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border: none;
}

/* Container Menu//Buttons */

#container-menu {
  z-index: 100;
}

button {
  border: none;
}

/* Buttons */

#start,
#btn,
#clicks {
  font-size: 1.1rem;

  font-family: var(--font);
  border-radius: 0.5em;
  color: var(--textColor);
  border: none;
  opacity: 0.8;
  display: block;
  cursor: pointer;
  padding: 0.6em;
  margin: 2em;
  transition: all .2s ease-in-out;
}

#start:hover,
#btn:hover,
#clicks:hover {

  color: var(--bg-btn);
  background: var(--textColor);

}

#timer {
  transition: all .2s ease-in-out;
  font-size: 1.5rem;
  opacity: 0.8;
  padding: 0.6em;
  margin: 0em 1.5em;
  color: var(--bg1);
  border-radius: 0.5em;
  background-color: var(--textColor);
  width: 5.5rem;
  cursor: pointer;

}

#timer:hover {
  color: var(--textColor);
  background-color: var(--bg-btn);

}

/*=============================================
=         Media Queries max-width 900px       =
=============================================*/
@media screen and (max-width: 900px) {

  h1 {
    margin-top: 0.2em;
    font-size: 1.8em;
    text-align: center;
  }


  canvas {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  #container-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    font-size: 1rem;
    width: 90vw;
    position: absolute;
    bottom: 5%;
  }

}

/*=====  End of Media Queries max-width 900px  ======*/
