/* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-variant: small-caps;
    text-shadow: gray 1px 1px 4px;
} */

body {
    background-color:rgb(219, 226, 211);
}

/* .canvas-container{
    position: relative;
} */

#canvas{
    border:solid 2rem khaki;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    box-shadow: gray 1px 1px 8px;
}

#start {

    position: absolute;
    left:1rem;
    bottom:25%;
    background-color: lightseagreen;
    padding: 0.5%;
    border-radius: 5rem;
    font-weight: bolder;
    font-variant: small-caps;
    font-stretch: narrower;
    text-shadow: gray 1px 1px 4px;

}

#btn {

    position: absolute;
    left:1rem;
    bottom: 21%;
    padding:0.5%;
    border-radius: 5rem;
    font-weight: bolder;
    font-variant: small-caps;
    font-stretch: narrower;
    background-color: palegoldenrod;
    text-shadow: gray 1px 1px 4px;
}

#clicks,#time {

    position: absolute;
    text-align: center;
    bottom: 15%;

}